/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Open Sans', Arial, sans-serif;
}

.app {
	position: relative;
}

.app-board {
	position: relative;
	border: 2px solid #aaa;
	box-sizing: content-box;
	overflow: hidden;
	background: linear-gradient(to bottom, #f3f9ff, #ffffff);
}

.app-cell {
	border: 1px solid #333;
	position: absolute;
	display: inline-block;
	margin: 0 -1px -1px 0;
	box-sizing: border-box;
}

.app-cell-pyramid {
	background-color: yellow;
}

.app-cell-square {
	background-color: red;
}

.app-cell-zig-zag {
	background-color: #87cfe9;
}

.app-cell-reverse-zig-zag {
	background-color: #66ff99;
}

.app-cell-l {
	background-color: #2244cc;
}

.app-cell-reverse-l {
	background-color: #992299;
}

.app-cell-long {
	background-color: #ff6600;
}

.app-timer {
	width: 190px;
	display: inline-block;
	position: absolute;
	bottom: 0;
}

.app-timer-box {
	padding: 1em 2em;
	border: 1px solid #aaaaaa;
	margin-top: 1em;
	box-sizing: border-box;
	text-align: right;
	background: linear-gradient(to bottom, #f3f9ff, #ffffff);
}
.app-timer-box-value {
	font-size: 2.5em;
}

.app-timer-box-label {
	font-size: 0.8em;
	color: #777;
}
.app-timer-box-score .app-timer-box-value {
	color: #3a9566;
}

.app-timer-box-level .app-timer-box-value {
	color: #e7598f;
}

.app-timer-box-lines .app-timer-box-value {
	color: #888;
}

.app-next-block-wrapper {
	position: absolute;
	border: 1px solid #aaa;
	width: 190px;
	box-sizing: border-box;
	padding: 1em 2em;
	background: linear-gradient(to bottom, #f3f9ff, #ffffff);
}
.app-next-block {
	overflow: hidden;
	margin: 1em auto;
	position: relative;
	opacity: 0.66;
}

.app-next-block-label {
	text-align: center;
	color: #777;
	font-size: 0.8em;
}
