/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

.app {
	margin: auto;
	color: #333;
	display: inline-block;
}

.app-container {
	display: flex;
	flex-direction: row;
}

.app-board {
	position: relative;
	border: 1px solid #aaa;
	box-sizing: content-box;
	overflow: hidden;
	background: linear-gradient(to bottom, #f3f9ff, #fff);
}

.app-side-panel {
	margin-left: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 230px;
}

.app-cell {
	border: 1px solid #333;
	position: absolute;
	display: inline-block;
	margin: 0 -1px -1px 0;
	box-sizing: border-box;
}

.app-cell-O {
	background-color: hsl(59, 100%, 70%);
}

.app-cell-Z {
	background-color: hsl(0, 100%, 70%);
}

.app-cell-I {
	background-color: hsl(188, 100%, 70%);
}

.app-cell-S {
	background-color: hsl(135, 100%, 70%);
}

.app-cell-J {
	background-color: hsl(223, 100%, 70%);
}

.app-cell-T {
	background-color: hsl(278, 100%, 70%);
}

.app-cell-L {
	background-color: hsl(28, 100%, 70%);
}

.app-cell-ghost {
	background-color: rgba(0, 0, 0, 0.03);
	border-color: #bbb;
	animation: ease-in-out glow 1s infinite;
}

@keyframes glow {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

.app-scoreboard-box {
	padding: 0.5em 1em;
	border: 1px solid #aaa;
	box-sizing: border-box;
	text-align: center;
	background: linear-gradient(to bottom, #f3f9ff, #ffffff);
}

.app-scoreboard .app-scoreboard-box:not(:first-child) {
	margin-top: 1em;
}

.app-scoreboard-box-value {
	font-size: 2.5em;
}

.app-scoreboard-box-label {
	font-size: 0.8em;
	color: #777;
}
.app-scoreboard-box-score .app-scoreboard-box-value {
	color: #2338bc;
}

.app-scoreboard-box-level .app-scoreboard-box-value {
	color: #e7598f;
}

.app-scoreboard-box-lines .app-scoreboard-box-value {
	color: #888;
}

.app-next-tetromino-wrapper {
	border: 1px solid #aaa;
	box-sizing: border-box;
	padding: 0.5em 1em;
	background: linear-gradient(to bottom, #f3f9ff, #ffffff);
}
.app-next-tetromino {
	overflow: hidden;
	margin: 1em auto 0 auto;
	position: relative;
}

.app-next-tetromino-label {
	text-align: center;
	color: #777;
	font-size: 0.8em;
}

button {
	width: 100%;
	border: 1px solid #aaa;
	background-color: white;
	color: #333;
	padding: 1em;
	cursor: pointer;
	font-size: 0.8em;
	outline: 0;
	display: block;
}

.app-controls button:not(:first-child) {
	margin-top: 1em;
}

button:disabled {
	opacity: 0.6;
	cursor: default;
}

button:not(:disabled):hover {
	color: #2338bc;
	border-color: #2338bc;
}

.app-footer {
	font-size: 0.8em;
}

.app-help-modal-wrapper {
	position: absolute;
	width: 100%;
	left: 0;
	top: 150px;
}

.app-help-modal {
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px solid #ccc;
	margin: 0 auto;
	box-shadow: rgba(0, 0 ,0, 0.2) 1px 1px 10px 0;
	width: 600px;
	padding: 1em;
	position: relative;
	overflow: hidden;
}

.app-help-modal table {
	margin: 1em auto;
	border-collapse: collapse;
	min-width: 350px;
}
.app-help-modal table td {
	padding: 3px 12px;
	border: 1px solid #ccc;
	font-size: 0.9em;
	text-align: left;
}

.app-help-modal .app-help-modal-close-btn {
	position: absolute;
	right: 0;
	top: -10px;
	margin-right: 8px;
	font-size: 3em;
	color: #cc3333;
	border: 0;
	width: auto;
	display: inline;
	padding: 0;
}
.app-help-modal .app-help-modal-close-btn:hover {
	color: #ff4444;
}
