/* You can add global styles to this file, and also import other style files */
body {
	font-family: Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

.app-board {
	position: relative;
	border: 2px solid #333;
}

.app-cell {
	border: 1px solid #aaa;
	position: absolute;
}
